.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 2rem;
  justify-content: space-between;
}

.main-navigation__menu-btn span {
  width: 3rem;
  height: 2px;
  background-color: #fff;
  display: block;
}

.main-navigation__title {
  color: #fff;
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}